<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}管理员{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/amendPassword.css">
<!--<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">-->
<!--<link rel="stylesheet" href="/public/css/login.css">-->
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-type="1" data-toggle="tab" href="#first">修改账号密码</a>
                        </li>
                    </ul>
                </div>
                <div class="option-list clearfix">
                    <div class="form-group">
                        <input type="text" id="userName" class="form-control input-lg" placeholder="请输入账号" readonly>
                    </div>
                    <div class="form-group">
                        <input type="password" id="loginPassword" class="form-control input-lg" placeholder="请输入原密码" >
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" class="form-control input-lg" placeholder="请输入新密码" >
                    </div>
                    <div class="form-group">
                        <input type="password" id="surePassword" class="form-control input-lg" placeholder="请再次输入新密码" >
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-lg" id="amendInfoBtn">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'footer'}}
{{/block}}

{{block 'requirejs'}}
<!--<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>-->
<!--<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>-->
<!--<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>-->
<!--<script src="/public/js/validate.js"></script>-->
<!--<script src="/public/js/md5.js"></script>-->
<!--<script src="/public/js/newRequest.js"></script>-->
<script src="/public/js/amendPassword.js" type="text/babel"></script>
{{/block}}