<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}订单列表{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/orderListDetail.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">

</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/plugins/laydate/laydate.js"></script>
<script src="/public/js/logisticsDetail.js" type="text/babel"></script>
{{/block}}