/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.Code/bin
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.Code/obj
/代码/project/LianFa.ShopPlatform/.vs
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.DataBase/bin
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.DataBase/obj
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.Model/bin
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.Model/obj
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.Respository/bin
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.Respository/obj
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.Service/bin
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.Service/obj
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.WebApi/bin
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.WebApi/log
/代码/project/LianFa.ShopPlatform/LianFa.ShopPlatform.WebApi/obj
