<!--dishes_list.html-->
{{extend '../share/layout.html'}} {{block 'title'}}客服人员设置{{/block}} {{block 'head'}}
<link rel="stylesheet" href="/public/css/productBrand.css">
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/sweetalert.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css"> {{/block}} {{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-type="1" data-toggle="tab" href="#manage">客服列表</a>
                        </li>
                        <li class="">
                            <a data-type="2" data-toggle="tab" href="#second">添加</a>
                        </li>

                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="manage">
                        <table id="brand_box">

                        </table>
                    </div>
                    <div class="tab-pane" id="second">
                        <div>
                            <ul>
                                <li>
                                    <div class="box box-solid">

                                        <div class="box-body">
                                            <div class="form-box form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">
                                                        <span class="red-star">*</span>客服名称：</label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="consultingName" placeholder="请输入名称">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">
                                                        <span class="red-star">*</span>客服二维码</label>
                                                    <div class="col-md-9">
                                                        <div class="icon-box_about_classify">
                                                            <div class="small_con">
                                                                <img src="/public/images/addImg.png" alt="" id="small_icon" style="width: 100px;height: 100px">
                                                                <div id="small_upload_pick" class="webuploader-container">
                                                                    <div class="webuploader-pick"></div>
                                                                    <div id="rt_rt_1c8m7obd41ruu1uhn1vno1nfqkar1" style="position: absolute; top: 0px; left: 0px; overflow: hidden; bottom: auto; right: auto; width: 50px; height: 50px;"><input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/gif,image/jpg,image/jpeg,image/bmp,image/png"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div>
                                                                </div>
                                                            </div>
                                                            <div>375*150</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">
                                                        <span class="red-star">*</span>排序：</label>
                                                    <div class="col-md-10">
                                                        <input type="number" class="form-control" id="sort" style="width: 120px">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-btn">
                            <button class="btn btn-primary" id="nextStep">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/block}} {{block 'footer'}} {{/block}} {{block 'requirejs'}}
<script src="/public/plugins/webuploader/webuploader.js"></script>
<script src="/public/js/upload_icon_pic.js"></script>
<script src="/public/js/customer.js" type="text/babel"> </script>
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
{{/block}}