<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}公告列表{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/store.css">
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/sweetalert.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li  class="active">
                            <a data-type="1" href="javascript:void(0);" class="listBtn">公告列表</a>
                        </li>
                        <li >
                            <a data-type="2" href="javascript:void(0);" class="addBtn">添加</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="manage">
                        <div class="all_zongti_operation">
                            <div class="" style="padding-left: 0px;float: left">
                                <div class="quanxuan_con {{ IsStoreManager ? 'hide': 'show'}}">
                                    <input type="checkbox" id="check_classify_delete_all" style="margin-top: 8.5px;">
                                </div>

                            </div>
                            <div class="col-xs-1 all_delte_box {{ IsStoreManager ? 'hide': 'show'}}" id="all_delte_box">
                                删除
                            </div>

                        </div>
                        <table id="brand_box">

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/js/listoNotice.js" type="text/babel"></script>
<script src="/public/plugins/laydate/laydate.js"></script>
<script src="/public/bower_components/moment/moment.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
{{/block}}