<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}图片库/图片浏览{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/picLibraryDetail.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li>
                            <a data-type="1" href="/homePage/picLibrary">图片库</a>
                        </li>
                        <li class="active">
                            <a data-type="1" href="javascript:;" id="targetName">图片库</a>
                        </li>
                    </ul>
                </div>
                <div class="pic_box_contanier">
                    <div class="file_search_box">
                        <div class="form-group form-inline">
                            <div class="pull-left">
                                <lable>文件名：</lable>
                                <input type="text" id="fileName" class="form-control">
                            </div>
                            <button class="btn btn-primary" style="margin-left:20px" id="searchBtn">查询</button>
                        </div>
                    </div>
                    <div class="operation_file_dv">
                        <div class="left_delete_dv">
                            <button class="btn btn-default">
                                <input type="checkbox" id="all_check_box">
                            </button>
                            <button class="btn btn-default" data-toggle="modal" href="#removeFileModal">移动</button>
                            <button class="btn btn-default delectAll">删除</button>
                            <button class="btn btn-primary" data-toggle="modal" href="#uploaderPicModal">上传图片</button>

                        </div>
                        <div class="right_condition_dv">
                            <select id="timeOrder_box" class="form-control select2 select2-hidden-accessible"
                                    tabindex="-1" aria-hidden="true">
                                <option selected="selected" value="1">按上传时间从晚到早</option>
                                <option value="2">按图片名排序</option>
                                <option value="3">按修改时间排序</option>
                            </select>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <p class="header_tips">大小不超过2M，支持bmp/png/jpeg/jpg/gif格式，上传将同步至公众平台</p>
                    <!--以下是图片库部分-->
                    <div class="pic_box_library">
                        <ul id="PicBox">

                        </ul>
                        <button class="btn btn-primary" id="load_more_pic"
                                style="display:none;width:100px;margin:auto;margin-top: 50px">加载更多
                        </button>
                    </div>

                    <!--以上是图片库部分-->
                    <!--改名模态框-->
                    <div class="modal fade" id="reviseNameModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">文件名称更改</h4>
                                </div>
                                <div class="modal-body" style="width:452px;margin:auto">
                                    <div class="row form-group">
                                        <label for="" class="pull-left">图片名称：<span class="star">*</span></label>
                                        <div class="pull-left" style="width:300px;">
                                            <input type="text" class="form-control" id="revise_input_name">
                                            <div class="tip-txt-name">
                                                图片名称不能为空长度限制在30个字符以内
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" id="revise_confirm_name">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--改名模态框end-->
                    <!--图片上传模态框-->
                    <div class="modal fade" id="uploaderPicModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document" style="width:910px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">图片上传</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group tip_img_uploader">
                                        <ul>
                                            <li>1.您一次最多可以上传10张图片。</li>
                                            <li>2.请勿重复选择同一个图片文件。</li>
                                            <li>3.图片文件的大小建议控制在500KB以内，图片太大会影响网站打开速度</li>
                                        </ul>
                                    </div>
                                    <div class="form-group row">
                                        <label for="">上传到：</label>
                                        <select name="" id="PicCateBox" class="form-control cateBox"
                                                style="display: inline-block;width:200px;">
                                            <option value="0">默认分类</option>
                                        </select>
                                    </div>
                                    <div class="form-group row uploader_row">
                                        <div class="uploader_img_list_box">

                                        </div>
                                        <span id="wrapper_pick_img_box">
                                            <img src="../public/images/addImg.png" alt="">
                                        </span>

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" id="confirm_upload_pic">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--图片上传模态框end-->
                    <!--移动模态框-->
                    <div class="modal fade" id="removeFileModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">移动到新的文件夹</h4>
                                </div>
                                <div class="modal-body" style="width:452px;margin:auto">
                                    <div class="row form-group">
                                        <div class="row form-group">
                                            <div class="files_dv_box">
                                                <ul id="file_box">
                                                    <li class="file_li" data-id="324" data-type="0">
                                                        <!--这里的dataid不要忘记了-->
                                                        <i class="glyphicon glyphicon-folder-open"
                                                           style="color:#bde0e9;margin-right: 10px"></i>未分组
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" id="remove_file_confirm">移动
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--移动模态框end-->



                    </div>
                </div>
            </div>
        </div>
</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/plugins/webuploader/webuploader.js"></script>
<script src="/public/plugins/clipboard/clipboard.min.js"></script>
<script src="/public/js/uploader_pic_toLibrary.js"></script>
<script src="/public/js/picLibraryDetail.js" type="text/babel"></script>
{{/block}}