<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}图片库/首页{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/picLibrary.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-type="1" href="/homePage/picLibrary">图片库</a>
                        </li>
                    </ul>
                </div>
                <div class="pic_box_contanier">
                    <div class="operation_file_dv">
                        <div class="left_delete_dv">

                            <div class="btn-group" style="margin-left: 30px">
                                <button type="button" style="padding: 6px 12px!important;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    添加
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu add_choice_ul">
                                    <li style="position:relative">
                                        <a class="btn" id="add_pic_Btn" data-toggle="modal" href="#uploaderPicModal">
                                            <span class="glyphicon glyphicon-open"></span>上传图片
                                            <!--<div id="uploader_pic_trigger"></div>-->
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn create_file_pic">
                                            <span class="glyphicon glyphicon-folder-open"></span>创建文件夹
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="right_condition_dv">
                            <!--<select id="timeOrder_box" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">-->
                                <!--<option selected="selected" value="0">按注册时间降序排序</option>-->
                                <!--<option data-state="20" value="20">默认</option>-->
                            <!--</select>-->
                            <div style="display: inline-block;margin-left: 40px">
                                <label for="">每页显示数量：</label>
                                <select id="numOrder_box" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    <option selected="selected" value="10">10</option>
                                    <option  value="20">20</option>
                                    <option  value="50">50</option>
                                    <option  value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <p class="header_tips">大小不超过2M，支持bmp/png/jpeg/jpg/gif格式，上传将同步至公众平台</p>
                    <!--以下是文件夹部分-->
                    <div class="box_file_custom" id="Pic_box">
                        <div class="file_item" data-type="0" data-id="0">
                            <a href="/homePage/picLibraryDetail?id=0">
                                <img class="img_icon" src="../public/images/file_pic.png" alt="">
                            </a>
                            <div class="edit_Filename_box">
                                <span class="edit_ipt isspan" style="border-width: 0px 0px 0px;">未分组</span>
                            </div>
                        </div>
                        <div id="PicItem_Box">

                        </div>
                    </div>
                    <!--以上是文件夹部分-->

                </div>
            </div>
        </div>
        <button class="btn btn-primary" id="load_more_pic" style="display:block;width:100px;margin:auto;margin-top: 50px">加载更多</button>
    </div>
    <!--图片上传模态框-->
    <div class="modal fade" id="uploaderPicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width:910px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">图片上传</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group tip_img_uploader">
                        <ul>
                            <li>1.您一次最多可以上传10张图片。</li>
                            <li>2.请勿重复选择同一个图片文件。</li>
                            <li>3.图片文件的大小建议控制在500KB以内，图片太大会影响网站打开速度</li>
                        </ul>
                    </div>
                    <div class="form-group row">
                        <label for="">上传到：</label>
                        <select name="" id="PicCateBox" class="form-control cateBox" style="display: inline-block;width:200px;">
                            <option value="0">默认分类</option>
                        </select>
                    </div>
                    <div class="form-group row uploader_row">
                        <div class="uploader_img_list_box">

                        </div>
                        <span id="wrapper_pick_img_box">
                                            <img src="../public/images/addImg.png" alt="">
                                        </span>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="confirm_upload_pic">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!--图片上传模态框end-->
</section>

{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/plugins/webuploader/webuploader.js"></script>
<!--<script src="/public/js/uploader_pic_toLibrary.js"></script>-->
<script src="/public/js/uploader_pic_toLibrary.js"></script>
<script src="/public/js/picLibrary.js" type="text/babel"></script>
{{/block}}