    .content {
        min-height: 100vh;
        background: #fff;
        padding-bottom: 48px;
        overflow: hidden;
    }
    
    .tltle {
        width: 100%;
        float: left;
        margin-top: 22px;
    }
    
    .tltle_top {
        padding-left: 24px;
        color: #56545A;
        width: 100%;
        float: left;
        font-weight: bold;
        font-size: 18px;
    }
    
    .tltle_buttom {
        position: relative;
        font-weight: bold;
        width: 100%;
        float: left;
        margin-top: 11px;
    }
    
    .tltle_buttom span {
        padding-left: 24px;
        color: #56545A;
        font-size: 15px;
        float: left;
    }
    
    .tabContext {
        background: #FFF;
    }
    
    .line {
        position: absolute;
        background: #D94E3A;
        height: 6px;
        width: 167px;
        left: 24px;
        bottom: 2px;
        opacity: 0.2;
    }
    
    .giftcard_tltle {
        float: left;
        width: 100%;
        margin-top: 45px;
    }
    
    .giftcard_neme {
        float: left;
        width: 100%;
        font-weight: bold;
        color: #333;
        font-size: 16px;
        padding-left: 26px;
    }
    
    .giftcard_img {
        float: left;
        width: 100%;
        margin-top: 26px;
    }
    
    .giftcard_img img {
        width: 325px;
        height: 182px;
        margin-left: 26px;
    }
    
    .giftdisplay {
        float: left;
        width: 100%;
        margin-top: 30px;
    }
    
    .display_tltle {
        float: left;
        width: 100%;
        padding-left: 25px;
        color: #333;
        font-weight: bold;
        font-size: 16px;
    }
    
    .display_box {
        float: left;
        width: 100%;
        margin-top: 21px;
    }
    
    .display_commodity {
        float: left;
        width: 305px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 15px 10px 15px 10px;
        margin-left: 25px;
    }
    
    .commodity_img {
        float: left;
        height: 100%;
        width: 100px;
    }
    
    .commodity_img img {
        width: 100%;
        height: 100%;
        float: left;
    }
    
    .commodity_left {
        float: left;
        width: 200px;
    }
    
    .commodity_tltle {
        color: #333;
        font-size: 14px;
        padding-left: 14px;
        margin-bottom: 10px;
    }
    
    .commodtiy_details {
        padding-left: 14px;
        margin-bottom: 5px;
        color: #333;
        font-size: 12px;
    }
    
    .commodtiy_details：last-child {
        margin-bottom: 0;
    }
    
    .price_box {
        float: left;
        width: 100%;
        margin-top: 29px;
        margin-bottom: 41px;
    }
    
    .price {
        color: #333;
        font-size: 16px;
        padding-left: 25px;
        float: left;
        width: 100%;
        font-weight: bold;
    }
    
    .Amount {
        padding-left: 25px;
        font-size: 16px;
        box-sizing: border-box;
        color: #D94E3A;
        float: left;
    }
    
    .allIcon {
        color: #D94E3A;
        line-height: 27px;
        font-weight: bold;
    }
    
    .blod {
        font-size: 20px;
        margin-left: 4px;
        color: #D94E3A;
    }
    
    .loginBtn {
        background-color: #D94E3A;
        color: #FFFFFF;
        font-size: 18px;
        border-radius: 25px;
        margin: 50px 10px 0px 97px;
        width: 180px;
        border: 0;
        box-shadow: 0px 1px 4px 0px rgba(191, 81, 88, 0.47);
    }
    
    .countBox {
        float: right;
        width: 84px;
        margin-right: 27px;
        height: 24px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        border: 1px solid #D94E3A;
    }
    
    .reduceBtn {
        float: left;
        height: 18px;
        width: 25px;
        text-align: center;
        overflow: hidden;
        border-right: 1px solid #D94E3A;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    
    .reduceIcon {
        float: left;
        width: 9px;
        height: 1px;
        color: #999;
        position: relative;
        top: 9px;
        left: 10px;
    }
    
    .count {
        box-sizing: border-box;
        border: none;
        width: 32px;
        line-height: 24px;
        height: 24px;
        font-size: 14px;
        color: #D94E3A;
        float: left;
        text-align: center;
    }
    
    .addIcon {
        float: right;
        width: 9px;
        height: 9px;
        position: relative;
        top: 5px;
        right: 8px;
    }
    
    .addBtn {
        float: left;
        height: 18px;
        width: 25px;
        text-align: center;
        overflow: hidden;
        line-height: 18px;
        border-left: 1px solid #D94E3A;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    
    .Amount_box {
        float: left;
        width: 100%;
        margin-top: 16px;
        /* height: 27px; */
    }
    
    .Originalprice {
        padding-left: 25px;
        float: left;
        width: 100%;
        font-size: 14px;
        color: #999;
    }
    
    .Originalprice_Amount {
        text-decoration: line-through;
        margin-left: 4px;
    }
    
    .total {
        float: left;
        width: 100%;
        margin-top: 26px;
    }
    
    .total_tltle {
        font-size: 16px;
        color: #333;
    }
    
    .total_span {
        font-size: 16px;
        float: right;
        margin-right: 27px;
    }
    
    .total_Money {
        color: #D94E3A;
        font-size: 20px;
    }
    
    .total_Amount {
        color: #D94E3A;
        font-size: 16px;
        margin-left: 9px;
    }
    
    .icon {
        width: 9px;
        height: 9px;
        float: left;
        position: relative;
        top: 12px;
    }
    
    .countI {
        width: 34px;
        height: 16px;
        line-height: 16px;
        color: #D94E3A;
        text-align: center;
        font-size: 16px;
        float: left;
        border: none;
        position: relative;
        top: 3px;
        border-left: 1px solid #D94E3A;
        border-right: 1px solid #D94E3A;
        border-radius: 0;
        margin: 0;
    }
    
    .allBox {
        overflow: hidden;
        box-sizing: border-box;
        padding: 0 27px;
    }
    
    .orderAmount {
        float: right;
        font-size: 16px;
        color: #333;
    }