.content-wrapper{
    background: #fff;
}
.settings {
    height: 40px;
    border-bottom: 1px solid #e8e8e8;
}

.settings_text {
    font-size: 16px;
    color: #666;
    padding-left: 20px;
}

.basicsetup_txet {
    margin-left: 80px;
    margin-top: 40px;
}

.basicsetup_title {
    height: 32px;
    width: 100%;
    line-height: 32px;
    float: left;
    margin-bottom: 30px;
}

.basicsetup_title label em {
    color: red;
    position: relative;
    text-align: right;
}

.basicsetup_title label {
    float: left;
    position: relative;
    font-size: 14px;
    color: #000;
    text-align: right;
}

.basicsetup_title input {
    width: 14px;
    height: 14px;
    line-height: 32px;
}

.basicsetup_title_next {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.register_span textarea {
    width: 380px;
    height: 102px;
    float: left;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #e8e8e8;
    color: #aaa;
}

.basicsetup_title_next label {
    float: left;
    position: relative;
    font-size: 14px;
    text-align: right;
    color: #000 ;
}

.basicsetup_title_last {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.basicsetup_title_last label {
    float: left;
    position: relative;
    font-size: 14px;
    color: #999;
    text-align: right;
}
label{
    font-weight: 400!important;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
}

.button {
    margin-top: 40px;
    margin-left: 177px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.icheck {
    height: 32px;
    line-height: 32px;
}

.icheck_user {
    float: left;
    margin-right: 20px;
}

.icheck_mailbox {
    float: left;
    margin-right: 20px;
}

.icheck_phone {
    float: left;
    margin-right: 20px;
}

.register_span span {
    float: left;
    bottom: 0px;
    position: absolute;
    padding-left: 10px;
    color: #999;
}



.register-label {
    float: left;
    line-height: 32px;
    position: relative;
    font-size: 14px;
    padding-left: 10px;
    color: #999;
}

.icheck {
    float: left;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    color: #666;
    overflow: hidden;
}

.icheck span {
    float: left;
}

.checked {
    float: left ;
}

.register_title label {
    float: left;
    position: relative;
    font-size: 14px;
    color: #999;
    text-align: right;
}

.register_title input {
    width: 16px;
    height: 16px;
    line-height: 32px;
}

.register_title {
    height: 32px;
    width: 100%;
    line-height: 32px;
    float: left;
    margin-bottom: 30px;
}

.register_title label {
    float: left;
    position: relative;
    font-size: 14px;
    color: #999;
    text-align: right;
}

.register_title span {
    float: left;
    position: relative;
    font-size: 14px;
    color: #999;
    text-align: right;
    margin-right: 15px;
    margin-left: 10px;
}

.register_title .icheck {
    line-height: 32px;
    vertical-align: middle;
}
.iradio_flat-blue {
    display: block !important;
}
.icheckbox_flat-blue {
    float: left;
    margin-top: 5px !important;
    margin-right: 6px !important;

}
.fl{
    float: left;
    margin-right: 15px;
    line-height: 34px;
}
.input-group {
    z-index: 0;
}
.input-group {
    line-height: 32px;
    color: #999;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .input-group-addon:last-child {
    float: left;
    width: auto !important;
    padding: 9px 7px !important;
    border-left: 0;
    border-radius: 0 3px 3px 0 !important;
    background: #eee;
}

tbody th{
    text-align: center;
}
.exit-area {
    float: right;
    cursor: pointer;
    position: relative;
    top: 7px;
    z-index: 50;
}
.area-group {
    padding-right: 30px;
    text-align: left;
    position: relative;
    top: 7px;
}
.area-group p {
    float: none!important;
    height: auto!important;
    line-height: normal!important;
    margin-left: 0px!important;
    padding-left: 0px!important;
    width: auto!important;
}
.table-area-freight td input {
    width: 60px;
    text-align: center;
    display: inline-block;
}
.input-xs {
    width: 70px !important;
}
.table-area-freight .btn-a {
    min-width: 50px;
    text-align: center;
}
.btn-a {
    cursor: pointer;
    position: relative;
    top: 7px;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}
td p{
    margin: 0 0 0px;
}
.switch {
    display: inline-block;
    vertical-align: middle;
}
.free-contion{
    float: left;
}
.mlr {
    margin: 0 4px;
}
.area-modal-wrap .modal-mask {
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
.area-modal-wrap .area-modal {
    position: fixed;
    left: 50%;
    margin-left: -300px;
    width: 660px;
    border: 1px solid #e5e5e5;
    background: #fff;
    z-index: 99999;
    top: 0;
    padding: 10px;
}
.area-modal-wrap .area-modal-head {
    padding: 15px 10px;
    /* background: #F6F6F6; */
    font-size: 14px;
    line-height: 14px;
    border-bottom: 1px solid #e5e5e5;
    overflow: auto;
}
.area-modal-wrap .area-modal-content {
    min-height: 200px;
}
.area-modal-wrap .area-editor-wrap {
    padding: 30px 0;
    width: 520px;
    margin: 0 auto;
}
.area-modal-wrap .area-editor-wrap .area-editor-column {
    float: left;
    width: 200px;
    height: 320px;
    border: 1px solid #e5e5e5;
}
.area-modal-wrap .area-editor-head {
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    padding: 10px 0;
    font-weight: normal;
    background: #f6f6f6;
    border-bottom: 1px solid #e5e5e5;
}
.area-modal-wrap .area-editor-list {
    padding: 0;
    overflow: auto;
}
.area-modal-wrap .area-editor>.area-editor-list {
    height: 280px;
    margin:0;
}
.area-modal-wrap .area-editor-list {
    padding: 0;
    overflow: auto;
}
.area-modal-wrap .area-editor-wrap .area-editor-add-btn {
    margin: 150px 0 0 35px;
}
.zent-btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 2px;
    font-size: 12px;
    color: #333;
    background: #fff;
    border: 1px solid #bbb;
    text-align: center;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.area-modal-wrap .area-editor-wrap .area-editor-column {
    float: left;
    width: 200px;
    height: 320px;
    border: 1px solid #e5e5e5;
}
.area-modal-wrap .area-editor-wrap .area-editor-column.area-editor-column-used {
    float: right;
}
.area-modal-wrap .area-editor-list {
    padding: 0;
    overflow: auto;
}
.area-modal-wrap .area-editor>.area-editor-list {
    height: 280px;
    margin:0;
}
.area-modal-wrap .area-editor-list {
    padding: 0;
    overflow: auto;
}
.area-modal-wrap .area-editor-list-title {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    margin: 0;
    font-weight: normal;
}
.area-modal-wrap .area-editor-list-title.area-editor-list-select {
    background: #d7d7d7;
}
.area-modal-wrap .area-editor-list-title .area-editor-list-title-content {
    position: relative;
    top: 5px;
    padding-left: 20px;
    line-height: 30px;
    cursor: pointer;
}
.area-modal-wrap .area-editor-ladder-toggle {
    position: absolute;
    left: 0;
    top: 7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d7d7d7;
    color: #fff;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
}
.area-modal-wrap .area-editor-list-select .area-editor-ladder-toggle {
    background-color: #fff;
    color: #d7d7d7;
}
.area-modal-wrap .area-modal-foot {
    padding: 15px 10px;
    /* background: #F6F6F6; */
    /* border-top: 1px solid #e5e5e5; */
    text-align: center;
}
.zent-btn-primary {
    color: #fff;
    background: #38f;
    border-color: #38f;
}
.area-modal-wrap .area-editor-depth1 .area-editor-ladder-toggle {
    left: 12px;
    text-indent: 0;
}
.area-modal-wrap .area-editor-remove-btn {
    float: right;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d7d7d7;
    color: #fff;
    line-height: 15px;
    text-align: center;
    text-indent: 0;
    margin-top: 7px;
    cursor: pointer;
}
.area-modal-wrap .area-editor-depth1 .area-editor-list-title .area-editor-list-title-content{
    padding-left: 33px;
}
.area-modal-wrap .area-editor-depth2 .area-editor-list-title .area-editor-list-title-content{
    padding-left: 40px;
}
.area-modal-wrap .area-editor-depth2 .area-editor-ladder-toggle{
    left: 30px;
}
.selectBackground{
    background: #d7d7d7;
}

