.option-list{
    margin-top:50px;
    margin-left:100px;
    border-bottom: 0px;
}
.option-list .form-group{
    width:290px;
}
.option-list .form-group input{
    font-size: 15px;
}
.option-list .form-group button{
    width: 290px !important;
    height: 46px !important;
}