.content-wrapper{
    background: #fff;
}
.head-type ul {
    border-bottom: 1px solid #fd522d;
}

.nav-tabs {
    border-bottom: 1px solid #fd522d;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #fff;
    cursor: default;
    background-color: #fd522d;
    border-bottom-color: transparent;
    border-radius: 10px 10px 0px 0px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover {
    border-color: transparent transparent #fd522d;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #3f3f3f;
}

.form-group {
    margin: 0px;
}

.journal {
    text-align: right;
}

.journal:nth-child(2) {
    text-align: right;
    margin-left: 30px;
}

.journal:nth-child(3) {
    text-align: right;
    margin-left: 40px;
}

.journal_span {
    text-align: center;
}

.form-group em {
    color: red;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 0px;
    line-height: 34px;
}

.tab-content {
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #c5c5c5;
}

.functionHandleArea {
    background: #fff;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
}
#empty{
    margin-left:5px;
}
.bootstrap-table{
    margin-top: 40px;
}
