.content-wrapper {
    background: #fff;
}
.pmask{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(95,95,95,0.7);
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
}
#productPreBox{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    left: 0;
    top:0;
}
.productPreInner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*以下是公共样式*/
.btn-primary {
    background-color: #1792e7;
    border-color: #1792e7;
}

#choice_condition_box label {
    font-size: 12px;
    padding-right: 0px !important;
    font-weight: 500;
}

input, select {
    border-radius: 4px !important;
}

/*以下是自己写的代码*/

#order_tab_box .nav a {
    cursor: pointer;
}

#wrapper_content_dv {
    padding: 15px;
}

#choice_condition_box {
    padding: 15px 15px 0px;
}

.table > thead > tr > th {
    border: 0px 0px 1px;
    background: #f8f8f8;
}

.odd td {
    padding: 0px !important;
}

.odd td > span {
    display: inline-block;
    vertical-align: bottom;
    margin: 20px auto 0px;
    width: 100%;
    background: #f8f8f8;
    line-height: 44px;
    height: 44px;
    padding-left: 8px;
    padding-right: 8px;
}

.even td {
    background: #fff;
    padding: 12px 8px !important;
}

.view_detail {
    cursor: pointer;
    color: #44b8fd;
}

.dele_order {
    cursor: pointer;
    color: #fe7353;
}

#example1_wrapper .col-sm-12, #example1_wrapper .col-sm-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.buyer_info_big_box {
    border: 1px solid #ddd;
    margin-top: 30px;
    padding: 0px 15px;
}

.buyer_info_one li {
    color: #666;
    font-size: 15px;
}

.buyer_info_one li {
    float: left;
    width: 33%;
    margin-bottom: 5px;
}

.receive_info {
    color: #666;
    line-height: 30px;
    font-size: 15px;
}

.send_time {
    font-size: 15px;
    color: #666;
}

.buyer_info_one {
    overflow: hidden;
}

.mark_info {
    font-size: 15px;
    color: #666;
    margin-bottom: 15px;
}

#table_order td, #table_order th {
    padding: 14px 8px;
    font-weight: 500;
    color: #666;
    vertical-align: middle;
    text-align: center;
}

.dingdan_xinxi > li {
    margin-bottom: 20px;
    font-size: 15px;
    color: #666;
}

.total_ul {
    font-size: 15px;
    color: #666;
}

.total_ul li {
    margin-bottom: 10px;
}

.logistics_dv_detail ul li:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    left: -6px;
    top: 0px;
}

.logistics_box {
    border: 1px solid #ddd;
    margin-top: 30px;
    padding: 0px 15px;
}

.zhouji {
    margin-left: 20px;
    /*width: 92px;*/
    float: left;
    height: 18px;
}

.time_point {
    margin-right: 10px;
    float: left;
    /*width: 46px;*/
    margin-left: 10px;
}

.state_logistic {
    float: left;
    max-width: 990px;
}

.logistics_dv_detail li {
    position: relative;
    min-height: 40px;
    border-left: 1px solid #ccc;

}

.logistics_dv_detail {
    font-size: 13px;
    color: #666
}

.logistics_dv_detail ul li.first_info:before {
    background: #fd522d !important;
    overflow: hidden;
}
.logistics_dv_detail ul li.first_info{
    margin-bottom: 5px;
}

.logisticsBox {
    overflow: hidden;
    margin-bottom: 20px;
}

.logisticsBtn {
    width: 80px;
    height: 30px;
    color: #fff;
    background: #367fa9;
    line-height: 30px;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.allBox {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.listBox :after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.logistics_box:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

