<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <ScreenImg>/string.jpg</ScreenImg>
  <!--弹屏图片-->
  <ScreenLink>www.string.com/</ScreenLink>
  <!--弹屏链接-->
  <Address>广东省广州市</Address>
  <!--公司地址-->
  <CustomerPhone>22226666</CustomerPhone>
  <!--客服热线电话-->
  <InitialAvatar>/upload/InitialAvatar.png</InitialAvatar>
  <!--默认头像-->
  <CouponImg>/CouponImg.jpg</CouponImg>
  <!--礼品卡兑换banner图-->
</configuration>