<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <GroupBuylimitTime>1000</GroupBuylimitTime>
  <OrderLimitTime>1</OrderLimitTime>
  <SendTime>12</SendTime>
  <CompleteOrder>2</CompleteOrder>
  <AutoGoodComments>2</AutoGoodComments>
  <Autorefund>1</Autorefund>
  <AutoSendTip>0</AutoSendTip>
  <PayCreditPrice>1</PayCreditPrice>
  <OrderMaxUsePayCredits>1000</OrderMaxUsePayCredits>
  <CancelReasons>
    <CancelReasonItem>7天无理由退换货</CancelReasonItem>
    <CancelReasonItem>商品发错/少发</CancelReasonItem>
    <CancelReasonItem>商品质量问题</CancelReasonItem>
    <CancelReasonItem>商品与网页描述信息不符</CancelReasonItem>
    <CancelReasonItem>个人原因，不想要了</CancelReasonItem>
    <CancelReasonItem>未收到货</CancelReasonItem>
  </CancelReasons>
</configuration>