<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <AppId>wxbdd33fc8aababc42</AppId>
  <!--AppId-->
  <AppSecret>8e929aed6ee194de9a10a33775ca7516</AppSecret>
  <!--AppSecret-->
  <Key>lianfa123456789abcdefgijklmnopqr</Key>
  <!--Key-->
  <MchID>1536452261</MchID>
  <!--MchID-->
  <CertificateMicroLetter>C:\Websites\LianFaHang\upload\cert\apiclient_cert.p12</CertificateMicroLetter>
  <!--微信证书路径-->
  <MicroMallWhetherOpen>2</MicroMallWhetherOpen>
  <!--微信商城是否开启-->
  <ServiceBusinessesAppid>2</ServiceBusinessesAppid>
  <!--服务商appid-->
  <ServiceBusinessesID>2</ServiceBusinessesID>
  <!--服务商id-->
  <ServiceModeWhetherOpen>2</ServiceModeWhetherOpen>
  <!--服务商模式是否开启-->
  <WeXinSweepCodePay>2</WeXinSweepCodePay>
  <!--微信扫码是否开启-->
  <WeXinWhetherOpen>2</WeXinWhetherOpen>
  <!--微信H5是否开启-->
  <WeXinPayNotifyUrl><![CDATA[/api/Wxpay/Notify]]></WeXinPayNotifyUrl>
  <!--微信支付回调地址-->

  <TransfersAppId>wxbdd33fc8aababc42</TransfersAppId>
  <!--企业付款AppId-->
  <TransfersKey>lianfa123456789abcdefgijklmnopqr</TransfersKey>
  <!--企业付款Key-->
  <TransfersMchID>1536452261</TransfersMchID>
  <!--企业付款MchID-->
  <TransfersCertificateMicroLetter>C:\Websites\LianFaHang\upload\cert\apiclient_cert.p12</TransfersCertificateMicroLetter>
  <!--企业付款微信证书路径-->
  <TransfersCheckName>NO_CHECK</TransfersCheckName>
  <!--企业付款是否校验真实姓名-->

</configuration>

