<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--签名密钥-->
  <SignKey><![CDATA[lf@vSwcrpoKJ4IxdxtI]]></SignKey>

  <!--管理员签名密钥-->
  <AdminSignKey><![CDATA[lf@tPecTx08rbiH1pBX]]></AdminSignKey>
  
  <!--时间戳过期时间-->
  <CheckTime><![CDATA[100000]]></CheckTime>

  <!--默认密码-->
  <DefaultPassword><![CDATA[123456]]></DefaultPassword>

</configuration>