<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}商品分类列表{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/classifyList.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-type="1" href="/classify/classifyList">管理</a>
                        </li>
                        <li>
                            <a data-type="2" href="/classify/classifyAdd">添加</a>
                        </li>
                    </ul>
                </div>
                <div class="manageClassify_box_contanier">
                    <div class="all_zongti_operation">
                        <div class="" style="padding-left: 0px;float: left">
                            <div class="quanxuan_con">
                                <input type="checkbox" id="check_classify_delete_all" style="margin-top: 8.5px;">
                            </div>

                        </div>
                        <div class="col-xs-1 all_delte_box" id="all_delte_box">
                            删除
                        </div>
                    </div>

                    <div id="table_header_classify">
                        <div class="col-xs-1">

                        </div>
                        <div class="col-xs-1">
                            编号
                        </div>
                        <div class="col-xs-4">
                            分类名称
                        </div>
                        <div class="col-xs-2">
                            显示顺序
                        </div>
                        <div class="col-xs-4">
                            操作
                        </div>
                    </div>
                    <div id="table_content_classify">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/js/classifyGoods_list.js" type="text/babel"></script>
{{/block}}