<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}热门分类配置{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/classifyList.css">
<link rel="stylesheet" href="/public/css/storeAdd.css">
<link rel="stylesheet" href="/public/css/productRelease.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <!--<li>-->
                            <!--<a data-type="1" href="/classify/classifyList">管理</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a data-type="2" href="/classify/classifyAdd">添加</a>-->
                        <!--</li>-->
                        <li class="active">
                            <a data-type="2" href="/classify/classifySet">热门分类配置</a>
                        </li>
                    </ul>
                </div>

                <div class="main_list_content type_box">
                    <div class="list_title_header" style="float:left;width:100%">
                        <div class="">
                            <div class="tab-content edit-content">
                                <div class="tab-pane active" id="first">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="box box-solid">

                                                    <div class="box-body">
                                                        <div class="form-box form-horizontal">

                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label"><span
                                                                        class="red-star">*</span>热门分类：</label>
                                                                <div class="col-md-4" id="storeBox">

                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label"><span
                                                                        class="red-star">*</span>是否显示：</label>
                                                                <div class="col-md-4" >
                                                                    <input type="checkbox" id="isShow" style="position: relative;top: 7px;">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer-btn">
                                        <button class="btn btn-primary finish_bth_add">设置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/plugins/webuploader/webuploader.js"></script>
<script src="/public/js/upload_icon_pic.js"></script>
<script src="/public/js/classifySet.js" type="text/babel"></script>
{{/block}}