<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}商家列表{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/productList.css">
<link rel="stylesheet" href="/public/css/memberList.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-type="1">商家列表</a>
                        </li>
                    </ul>
                </div>
                <div class="option-list form-inline clearfix">
                    <div class="form-group col-lg-4 col-md-6">
                        <label>商家名称：</label>
                        <input type="text" class="form-control" id="Name">
                    </div>
                    <div class="form-group col-lg-4 col-md-6">
                        <label>联系人名称：</label>
                        <input type="text" class="form-control" id="Contacts">
                    </div>
                    <div class="form-group col-lg-4 col-md-6">
                        <label>联系人电话：</label>
                        <input type="text" class="form-control" id="ContactsPhone">
                    </div>
                    <div class="form-group col-lg-4 col-md-6">
                        <a class="btn btn-primary grey-btn" id="search">查询</a>
                    </div>
                </div>
                <div class="operate-box">
                    <div class="btn-div clearfix">
                        <a class="btn btn-primary pull-left" id="add">新增</a>
                        <div class="paginalNum">
                            <span>每页显示数量：</span>
                            <select name="pagesize_dropdown" id="pagesize_dropdown">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="2000">2000</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="memberTableDiv">
                    <table id="memberTable" class="table table-bordered table-striped member-table">
                    </table>
                </div>
            </div>

            <!--新增商家模态框-->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                            </button>
                            <h4 class="modal-title">新增商家</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal" style="min-height: 100px">
                                <div class="form-group remark-form">
                                    <label class="col-sm-3 control-label form-text">商家名称：</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="addName" class="form-control" style="width: 200px">
                                    </div>
                                </div>
                                <div class="form-group remark-form">
                                    <label class="col-sm-3 control-label form-text">联系人名称：</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="addContacts" class="form-control" style="width: 200px">
                                    </div>
                                </div>
                                <div class="form-group remark-form">
                                    <label class="col-sm-3 control-label form-text">联系人电话：</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="addContactsPhone" class="form-control" style="width: 200px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary"  id="addConfirm">确认</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--编辑商家模态框-->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                            </button>
                            <h4 class="modal-title">新增商家</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal" style="min-height: 100px">
                                <div class="form-group remark-form">
                                    <label class="col-sm-3 control-label form-text">商家名称：</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="editName" class="form-control" style="width: 200px">
                                    </div>
                                </div>
                                <div class="form-group remark-form">
                                    <label class="col-sm-3 control-label form-text">联系人名称：</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="editContacts" class="form-control" style="width: 200px">
                                    </div>
                                </div>
                                <div class="form-group remark-form">
                                    <label class="col-sm-3 control-label form-text">联系人电话：</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="editContactsPhone" class="form-control" style="width: 200px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary"  id="editConfirm">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="/public/js/businessList.js"></script>
{{/block}}