<!--dishes_list.html-->
{{extend '../share/layout.html'}} {{block 'title'}}积分管理{{/block}} {{block 'head'}}
<link rel="stylesheet" href="/public/css/productList.css">
<link rel="stylesheet" href="/public/plugins/iCheck/all.css">
<link rel="stylesheet" href="/public/css/member_grade.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li>
                            <a data-type="1"  aria-expanded="false" href="/member/memberGrade">等级</a>
                        </li>
                        <li class="active">
                            <a data-type="2" data-toggle="tab" href="#second" aria-expanded="true">编辑</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="tab-content">
                <div class="tab-pane" id="first">
                    <table class="table table-striped">
                        <tr>
                            <td>等级名称</td>
                            <td>默认会员等级</td>
                            <td>积分满足点</td>
                            <td>折扣</td>
                            <td>备注</td>
                            <td>操作</td>
                        </tr>
                    </table>
                    <table class="datashow">
                        <tr>
                            <td>会员</td>
                            <td>
                                <a href="javascript:IsDefault(1)">
                                    <img alt="" src="/public/images/allright.png">
                                </a>
                            </td>
                            <td> 0 </td>
                            <td> 100</td>
                            <td>高级会员</td>
                            <td>
                                <div class="operation">
                                    <span>
                                        <a href="">编辑</a>
                                    </span>
                                    <span>
                                        <a href="">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>高级会员</td>
                            <td>
                                <a href="javascript:IsDefault(2)">
                                    <img alt="" src="/public/images/wrong.png">
                                </a>
                            </td>
                            <td>1000</td>
                            <td>95</td>
                            <td>高级会员</td>
                            <td>
                                <div class="operation">
                                    <span>
                                        <a href="">编辑</a>
                                    </span>
                                    <span>
                                        <a href="">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>VIP会员</td>
                            <td>
                                <a href="javascript:IsDefault(3)">
                                    <img alt="" src="/public/images/wrong.png">
                                </a>
                            </td>
                            <td>5000</td>
                            <td>90</td>
                            <td>VIP会员</td>
                            <td>
                                <div class="operation">
                                    <span>
                                        <a href="">编辑</a>
                                    </span>
                                    <span>
                                        <a href="">删除</a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane active" id="second">
                    <div class="areacolumn">
                        <div class="formitem">
                            <ul>
                                <li>
                                    <span class="formitemtitle">
                                        <em>*</em>会员等级名称：</span>
                                    <input name="" type="text" id="memberName" class="form-control" placeholder="限制在20字符以内" validategroup="default">
                                </li>
                                <li>
                                    <span class="formitemtitle">
                                        <em>*</em>会员等级价格：</span>
                                    <div class="input-group">
                                        <span class="left">一口价 x</span>
                                        <input name="c" type="number" id="memberPrice" class="form_input" placeholder="折扣为正数" validategroup="default">
                                        <span class="right">%</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="button">
                                <input type="submit" value="完 成" id="editsubmit"  class="btn btn-primary">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
{{/block}} {{block 'footer'}} {{/block}} {{block 'requirejs'}}
<script src="/public/js/memberEditGgrade.js"></script>
<script src="/public/plugins/laydate/laydate.js"></script>
<script src="/public/plugins/iCheck/icheck.min.js"></script>
 {{/block}}