<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}管理员兑换列表{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/productList.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
<link rel="stylesheet" href="/public/css/orderService.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs" id="State">
                        <li>
                            <a data-type="0" data-toggle="tab" href="#first">兑换管理</a>
                        </li>
                    </ul>
                </div>
                <div class="option-list form-inline clearfix">
                    <div class="form-group col-lg-5 col-sm-6">
                        <label>礼品卡序列号：</label>
                        <input type="text" class="form-control" id="CouponSn">
                    </div>
                    <div class="form-group col-lg-4 col-sm-6">
                        <!--<label>礼品卡类型：</label>-->
                        <!--<select class="form-control" id="CateId">-->
                            <!--<option selected="selected" value="0">请选择礼品卡类型</option>-->
                            <!--<option value="1">全国</option>-->
                            <!--<option value="2">深圳</option>-->
                        <!--</select>-->
                        <a class="btn btn-primary" style="margin-left: 10px" id="search">查询</a>
                    </div>
                </div>
                <div>
                    <div>
                        <button class="btn btn-primary status_exchange"  style="margin-right: 10px;margin-top: 30px;margin-bottom: 20px;">单个兑换</button>
                        <div class="btn btn-primary" id="import" style="cursor: pointer;margin-right: 10px;margin-top: 30px;margin-bottom: 20px;position: relative">批量兑换
                            <input type="file" id="importFile">
                        </div>
                        <div class="btn btn-primary" id="downloadBtn" style="position: relative;top: 5px">导出模板
                        </div>

                        <div class="paginalNum">
                            <span>每页显示数量：</span>
                            <select name="pagesize_dropdown" id="pagesize_dropdown">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="2000">2000</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <table id="productTable" class="table table-bordered table-striped">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- 单个兑换模态框 -->
<div class="modal fade" id="exchangeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">单个兑换</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label form-text">序列号：</label>
                        <div class="col-sm-3">
                            <input type="text" id="sequenceNumber" class="form-control" style="width: 200px">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label form-text">密码：</label>
                        <div class="col-sm-3">
                            <input type="text" id="passWord" class="form-control" style="width: 200px">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label form-text">收货人：</label>
                        <div class="col-sm-3">
                            <input type="text" id="consignee" class="form-control" style="width: 200px">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 ">
                            <div class="" style="text-align: right">
                                <label class="control-label" for="">联系地址：</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-4" style="padding-left: 0;padding-right: 2px">
                                <select class="form-control select2 select2-hidden-accessible" id="province_box"
                                        tabindex="-1" aria-hidden="true">
                                    <option selected="selected" value="0">请选择省</option>
                                </select>
                            </div>
                            <div class="col-md-4" style="padding-left: 3px;padding-right: 2px">
                                <select id="city_box" class=" form-control select2 select2-hidden-accessible"
                                        tabindex="-1" aria-hidden="true">
                                    <option selected="selected" value="0">请选择市</option>
                                </select>
                            </div>
                            <div class="col-md-4" style="padding-left: 3px;padding-right: 2px">
                                <select id="area_box" class=" form-control select2 select2-hidden-accessible"
                                        tabindex="-1" aria-hidden="true">
                                    <option selected="selected" value="0">请选择区/县</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label form-text">收货详情地址：</label>
                        <div class="col-sm-3">
                            <input type="text" id="addressDetail" class="form-control" style="width: 418px">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label form-text">手机号码：</label>
                        <div class="col-sm-3">
                            <input type="text" id="phoneNumber" class="form-control" style="width: 200px">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label form-text">备注：</label>
                        <div class="col-sm-3">
                            <input type="text" id="mark" class="form-control" style="width: 200px">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="exChangeBtn">兑换</button>
            </div>
        </div>
    </div>
</div>
<!-- 编辑礼品卡状态模态框 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑礼品卡</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label form-text">订单状态：</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="orderState"
                                    tabindex="-1" aria-hidden="true">
                                <option selected="selected" value="0">请选择订单状态</option>
                                <option value="1">微信</option>
                                <option value="2">积分</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">关闭</button>
                <button type="button" class="btn btn-primary">修改</button>
            </div>
        </div>
    </div>
</div>
<!--发货模态框end-->
<div class="mask">
    <div class="content-box deliverBox" style="display: none;padding-bottom: 0;top: 40%;">
        <h2>订单发货</h2>
        <a class="close">×</a>
        <div class="outBox" style="height: 400px;overflow-y: scroll;overflow-x: hidden">
            <div class="buyer-info">
                <ul>
                    <li class="clearfix">
                        <label>收货信息：</label>
                        <p id="orderAddress"></p>
                    </li>
                    <li class="clearfix">
                        <label>收货人：</label>
                        <p id="orderUser"></p>
                    </li>
                    <li class="clearfix">
                        <label>手机号码：</label>
                        <p id="orderPhone"></p>
                    </li>
                    <li class="clearfix">
                        <label>买家留言：</label>
                        <p id="buymarker"></p>
                    </li>
                </ul>
            </div>
            <div class="form-horizontal" style="margin-top: 0px;">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label form-text">物流公司：</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="logisticsCompany">
                            <option selected="selected" value="0">请选择快递公司</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label form-text">快递单号：</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="expressNumber">
                    </div>
                </div>
            </div>
            <div class="product-list">
                <div class="pl-title">
                    <p>商品名称</p>
                    <p>购买数量</p>
                    <p>小计(元)</p>
                </div>
                <ul class="pl-table">

                </ul>
            </div>
        </div>
        <div class="box-footer" style="position: relative">
            <button class="btn btn-primary deliver-btn" style="position: relative;top: 0;right: 0;float: right"
                    id="deliver">发货
            </button>
        </div>
    </div>
    <div class="content-box checkBox" style="display: none">
        <h2>审核订单</h2>
        <a class="close">×</a>
        <div class="form-horizontal" style="margin-top: 40px;">
            <div class="form-group">
                <label class="col-sm-3 control-label form-text">OutSn：</label>
                <div class="col-sm-3">
                    <input type="text" id="OutSn" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label form-text">PaySn：</label>
                <div class="col-sm-3">
                    <input type="text" id="PaySn" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label form-text">PayTime：</label>
                <div class="col-sm-3">
                    <input type="text" id="PayTime" style="width: 400px" class="form-control">
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary confirm-btn" id="confirm2">确认</button>
            <button class="btn cancel-btn" id="cancel">取消</button>
        </div>
    </div>
</div>

{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="/public/js/adminExchangeList.js" type="text/babel"></script>
{{/block}}