<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}分销等级列表{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/statisticsDistribution.css">
<link rel="stylesheet" href="/public/css/userApply.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li  class="active">
                            <a data-type="1" href="/distribution/distributorGrade">分销等级列表</a>
                        </li>
                    </ul>
                </div>
                <!--<div class="option-list form-inline clearfix">-->
                    <!--<div class="blockquote-default blockquote-tip" style="margin: 10px 0px 30px 0px;">-->
                        <!--<span style="color: red;">注意：</span>最多可以有10个分销员等级，佣金门槛金额上限为¥99999。-->
                    <!--</div>-->
                <!--</div>-->
                <div class="bootstrap-table">
                    <table id="productTable" class="table table-bordered table-striped table-hover">

                    </table>
                </div>
            </div>
        </div>
    </div>


</section>
{{/block}}

{{block 'footer'}}
{{/block}}

{{block 'requirejs'}}
<!--<script src="/public/js/template.js"></script>-->
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="/public/plugins/laydate/laydate.js"></script>
<script src="/public/js/distributorGrade.js" type="text/babel"></script>
{{/block}}