<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}邀请码列表{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/statisticsDistribution.css">
<link rel="stylesheet" href="/public/css/userList.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs">
                        <li class="active noUseBtn" style="cursor: pointer">
                            <a >未使用</a>
                        </li>
                        <li class="UseBtn"  style="cursor: pointer">
                            <a >已使用</a>
                        </li>
                    </ul>
                </div>
                <div class="option-list form-inline clearfix">
                    <div class="form-group col-lg-3 col-md-6">
                        <label>用户名：</label>
                        <input type="text" class="form-control" id="UserName" readonly>
                    </div>
                    <div class="form-group col-lg-3 col-md-6">
                        <label>邀请码号码：</label>
                        <input type="text" class="form-control" id="Code">
                    </div>
                    <div class="form-group col-lg-3 col-md-6">
                        <a class="btn btn-primary" id="search">查询</a>
                    </div>
                </div>
                <div class="all_data_operation_box clearfix">
                    <div class="about_output_box pull-left">
                        <button class="btn btn-primary" id="generateBtn" data-toggle="modal" data-target="#myGenerateModal">发放邀请码</button>
                    </div>
                    <div class="disp_page_box pull-right">
                        <label style="float:left;line-height: 34px;margin-right: 4px;">每页显示数量：</label>
                        <select id="pagesize_dropdown" class="orderTypeSelect select2 pull-right" tabindex="-1">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="40">40</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                        </select>
                    </div>
                </div>
                <div class="bootstrap-table">
                    <table id="productTable" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--生成邀请码模态框-->
    <div class="modal fade" id="myGenerateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title">生成邀请码</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" style="min-height: 100px">
                        <div class="form-group remark-form">
                            <label class="col-sm-3 control-label form-text">生成邀请码个数：</label>
                            <div class="col-sm-3">
                                <input type="number" id="Number" class="form-control" style="width: 200px" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary"  id="sureBtn">确认</button>
                </div>
            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'footer'}}
{{/block}}

{{block 'requirejs'}}
<!--<script src="/public/js/template.js"></script>-->
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="/public/plugins/laydate/laydate.js"></script>
<script src="/public/js/inviteCode.js" type="text/babel"></script>
{{/block}}