<!--dishes_list.html-->
{{extend '../share/layout.html'}} {{block 'title'}}礼品卡列表{{/block}} {{block 'head'}}
<link rel="stylesheet" href="/public/css/nav.css">
<link rel="stylesheet" href="/public/css/giftCardList.css">
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css"> {{/block}} {{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs" id="State">
                        <li>
                            <a data-type="0" data-toggle="tab" href="#first">礼品卡列表</a>
                        </li>
                    </ul>
                </div>
                <div class="option-list form-inline clearfix">
                    <div class="form-group col-lg-4 col-sm-4">
                        <label>礼品卡序列号：</label>
                        <input type="text" class="form-control" id="Number">
                    </div>
                    <div class="form-group col-lg-4 col-sm-4">
                        <label>礼品卡名称：</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group col-lg-4 col-sm-4">
                        <label>礼品卡状态：</label>
                        <select class="form-control" id="stateBox">
                            <option value="3">请选择礼品卡状态</option>
                            <option value="0">未兑换</option>
                            <option value="1">已兑换</option>
                            <option value="2">已过期</option>
                        </select>
                        <a class="btn btn-primary" style="margin-left: 10px" id="search">查询</a>
                    </div>
                </div>
                <div>
                    <div>
                        <input type="checkbox" class="sel-all" id="radio">
                        <button class="btn delete-btn" id="radio_delete" style="margin-right: 10px">删除</button>
                        <button class="btn btn-primary" id="cancelCoupon" style="position: relative;top: 5px;margin-right: 10px;">批量作废</button>
                        <div class="btn btn-primary" id="import" style="cursor: pointer;margin-right: 10px;margin-top: 30px;margin-bottom: 20px;position: relative">
                            批量导入礼品卡
                            <input type="file" id="importFile">
                        </div>
                        <button class="btn btn-primary" id="editorMore" style="position: relative;top: 5px;margin-right: 10px;">批量修改截至日期</button>
                        <div class="btn btn-primary" id="downloadBtn" style="position: relative;top: 5px">导出礼品卡导入模板
                        </div>
                        <div class="paginalNum">
                            <span>每页显示数量：</span>
                            <select name="pagesize_dropdown" id="pagesize_dropdown">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="2000">2000</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <table id="productTable" class="table table-bordered table-striped">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mask">
        <div class="content-box">
            <h2>修改积分</h2>
            <a class="close">×</a>
            <div class="form-horizontal" style="margin-top: 40px;">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><span class="red-star">*</span>修改截至日期：</label>

                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="start_time" readonly placeholder="" lay-key="1">

                        </div>
                    </div>
                </div>

            </div>
            <div class="box-footer">
                <a class="btn btn-primary" id="editorBtn">保存</a>
            </div>
        </div>
    </div>

</section>


{{/block}} {{block 'footer'}} {{/block}} {{block 'requirejs'}}
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="/public/plugins/laydate/moment.js"></script>
<script src="/public/plugins/laydate/laydate.js"></script>
<script src="/public/js/giftCardList.js" type="text/babel"></script>
{{/block}}